{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'trackerapp/styles.css' %}">
        <link rel="stylesheet" href="{% static 'trackerapp/style.css' %}">
    </head>
    <body>
        <nav class='shadow-lg h-10 bg-yellow-100'>
            <div class='px-4 mx-auto'>
                <div class='flex justify-between'>
                    <div>
                        <a class='flex space-x-3' href=''>
                            <img class='h-8 w-8 p-1 mt-1' src='{% static "trackerapp/images/calculator.png" %}'>
                            <span class='self-center font-semibold text-lg text-gray-500'>Expense Tracker App</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        
        {% block content %}
        {% endblock %}
    </body>
</html>