{% extends 'trackerapp/base.html' %}

{% block content %}
<h1 class='font-bold text-2xl'> Edit Expense</h1>
<form method='POST' class='shadow-lg m-10 py-10 px-10'>
    {% csrf_token %}
    <div class='px-10 py-10'>
        <div class='mb-5'>
            <label class='font-semibold m-2'>Expense Name</label>
        </div>
        <div class='border p-1 mb-5'>
            {{expense_form.name}}
        </div>
        <div class='mb-5'>
            <label class='font-semibold m-2'>Expense Amount</label>
        </div>
        <div class='border p-1 mb-5'>
            {{expense_form.amount}}
        </div>
        <div class='mb-5'>
            <label class='font-semibold m-2'>Expense Category</label>
        </div>
        <div class='border p-1 mb-5'>
            {{expense_form.category}}
        </div>
        <button class='bg-yellow-500 text-white px-4 py-2' type='submit'>Submit</button>
    </div>
   
    
</form>

{% endblock %}