{% extends 'trackerapp/base.html' %}

{% load static %}
        
{% block content %}
<div class='font-bold text-2xl pl-10 pt-4'>Add Expense ➕</div>
    <form method="POST" class='shadow-lg m-10 rounded-lg bg-yellow-200'>
        {% csrf_token %}
        <div class='form-container px-10 py-10 flex'>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label class='font-semibold'>Expense Name</label>
                </div>
                <div class='border'>
                    {{ expense_form.name }}
                </div>
            </div>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label class='font-semibold'>Amount</label>
                </div>
                <div class='border'>
                    {{ expense_form.amount }}
                </div>
            </div>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label class='font-semibold'>Category</label>
                </div>
                <div class='border'>
                    {{ expense_form.category }}
                </div>
            </div>
            <div class='mx-10 mt-8'>
               <button class='bg-green-500 text-white px-5 py-2 rounded-lg font-bold'>Add</button>
            </div>
        </div>   
        </form>
        <div class='font-bold text-2xl pl-10'>Expenses 💰</div>
        <div class='shadow-lg m-10 rounded-lg divide-y'>
            <div class='expense-header flex flex-wrap space-x-40 py-5 px-20'>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Name</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Amount</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Category</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Date</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Actions</span>
            </div>
            {% for expense in expenses %}
            <div class='expense-row flex flex-wrap px-20 py-5'>
                <span class='font-bold'>{{ expense.name }}</span>
                <span class='font-bold'>${{ expense.amount|floatformat:"2g"}}</span>
                <span class='font-bold'>{{ expense.category }}</span>
                <span class='font-bold '>{{ expense.date }}</span>
                <div class="flex place-content-center gap-3">
                    <span class='bg-green-500 p-2'><a href='{% url "edit" expense.id %}'><img class='w-5 h-5' src='{% static "trackerapp/images/edit.png" %}'></a></span>
                    <span class='bg-red-500 p-2'><a href='{% url "expense_delete" expense.pk %}'><img class='w-5 h-5' src='{% static "trackerapp/images/delete.png" %}'></a></span>
                </div>
               
            </div>
            {% endfor %}
        </div>  
        
{% endblock %}
