{% extends 'trackerapp/base.html' %}
{% load humanize %}
{% load static %}
        
{% block content %}
<div class='font-bold text-2xl pl-10 pt-4'>Add Expense ➕</div>
    <form method="POST" class='shadow-lg m-10 rounded-lg bg-yellow-200'>
        {% csrf_token %}
        <div class='form-container px-10 py-10 flex'>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label class='font-semibold'>Expense Name</label>
                </div>
                <div class='border'>
                    {{ expense_form.name }}
                </div>
            </div>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label class='font-semibold'>Amount</label>
                </div>
                <div class='border'>
                    {{ expense_form.amount }}
                </div>
            </div>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label class='font-semibold'>Category</label>
                </div>
                <div class='border'>
                    {{ expense_form.category }}
                </div>
            </div>
            <div class='mx-10 mt-8'>
               <button class='bg-green-500 text-white px-5 py-2 rounded-lg font-bold'>Add</button>
            </div>
        </div>   
        </form>
        <div class='font-bold text-2xl pl-10'>Expenses 💰</div>
        <div class='shadow-lg m-10 rounded-lg divide-y'>
            <div class='expense-header flex flex-wrap space-x-40 py-5 px-20'>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Name</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Amount</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Category</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Date</span>
                <span class='text-xl font-semibold font-mono text-yellow-800'>Actions</span>
            </div>
            {% for expense in expenses %}
            <div class='expense-row flex flex-wrap px-20 py-5'>
                <span class='font-bold'>{{ expense.name }}</span>
                <span class='font-bold'>${{ expense.amount|intcomma}}</span>
                <span class='font-bold'>{{ expense.category }}</span>
                <span class='font-bold '>{{ expense.date }}</span>
                <div class="flex place-content-center gap-3">
                    <span class='bg-green-500 p-2'><a href='{% url "edit" expense.id %}'><img class='w-5 h-5' src='{% static "trackerapp/images/edit.png" %}'></a></span>
                    <span class='bg-red-500 p-2'><a href='{% url "expense_delete" expense.pk %}'><img class='w-5 h-5' src='{% static "trackerapp/images/delete.png" %}'></a></span>
                </div>
               
            </div>
            {% endfor %}
            <div class='px-72 py-5'>
                <span class='font-bold text-yellow-800'>
                    Total: ${{ total_expenses.amount__sum|intcomma }}
                </span>
            </div>
        </div>  

        <div class='flex'>
            <div class='w-1/3 shadow-lg ml-10 rounded-lg'>
                <h1 class='ml-10 font-bold text-gray-500'>Last Year</h1>
                <h1 class='ml-10 my-5 text-2xl font-bold text-yellow-800'>
                    ${{ yearly_sum.amount__sum|intcomma }}
                </h1>
            </div>
            <div class='w-1/3 shadow-lg ml-10 rounded-lg'>
                <h1 class='ml-10 font-bold text-gray-500'>Last Month</h1>
                <h1 class='ml-10 my-5 text-2xl font-bold text-yellow-800'>
                    ${{ monthly_sum.amount__sum|intcomma }}
                </h1>
            </div>
            <div class='w-1/3 shadow-lg ml-10 rounded-lg'>
                <h1 class='ml-10 font-bold text-gray-500'>Last Week</h1>
                <h1 class='ml-10 my-5 text-2xl font-bold text-yellow-800'>
                    ${{ weekly_sum.amount__sum|intcomma }}
                </h1>
            </div>
        </div>

        <div class='flex'>
            <div class='w-1/2 shadow-lg m-10'>
                <div class='flex flex-wrap space-x-40 font-bold px-20 py-5'>
                    <span>Past 30 days sum expenses</span>
                </div>
                <hr/>
                <div id='30-day-table'>
                   {% for daily_sum in daily_sums %}
                   <div class='flex flex-wrap px-20 py-5'>
                    <span>{{ daily_sum.date }}</span>
                   </div>
                   <div class='flex flex-wrap px-20 py-5'>
                    <span class='text-yellow-800'>${{ daily_sum.sum }}</span>
                   </div>
                   {% endfor %}
                </div>
            </div>
            <div class='w-1/2 shadow-lg m-10'>
                <div class='flex flex-wrap space-x-40 font-bold px-20 py-5'>
                    <span>Expenses by category</span>
                </div>
                <hr/>
                <div id='cat-sum-table'>
                   {% for categorical_sum in categorical_sums %}
                   <div class='flex flex-wrap px-20 py-5'>
                    <span class='font-semibold'>{{ categorical_sum.category }}</span>
                   </div>
                   <div class='flex flex-wrap px-20 py-5'>
                    <span class='text-yellow-800 font-semibold'>${{ categorical_sum.sum }}</span>
                   </div>
                   {% endfor %}
                </div>
            </div>
        </div>

        <div class='flex'>
            <div class='w-1/2 shadow-lg ml-10'>
                <h1 class='m-10'>Daily Expense Sum</h1>
                <canvas id="myChart" class='m-10'></canvas>
            </div>
            <div class='w-1/2 shadow-lg ml-10'>
                <h1 class='m-10'>Expenses spread accross categories</h1>
                <canvas id="myChart1" class='m-10'></canvas>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            let categories = [];
            let categories_sums = [];
            const catSumDivs = document.getElementById('cat-sum-table').getElementsByTagName('div');
     

            for(i=0;i<catSumDivs.length;i++) {
                if(i % 2 == 1){
                    categories_sums.push(catSumDivs[i].innerText.replace('$',''))
                } else {
                    categories.push(catSumDivs[i].innerText);
                }
            }

            
            const ctx1 = document.getElementById('myChart1').getContext('2d');
            const myChart1 = new Chart(ctx1, {
                type: 'pie',
                data: {
                    labels: categories,
                    datasets: [{
                        label: '# of Votes',
                        data: categories_sums,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            let dates = [];
            let dates_sums = [];
            const dateSumDivs = document.getElementById('30-day-table').getElementsByTagName('div');
     

            for(i=0;i<dateSumDivs.length;i++) {
                if(i % 2 == 1){
                    dates_sums.push(dateSumDivs[i].innerText.replace('$',''))
                } else {
                    dates.push(dateSumDivs[i].innerText);
                }
            }
            console.log(dates_sums)

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: '# of Votes',
                        data: dates_sums,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
{% endblock %}
