{% extends 'trackerapp/base.html' %}
        
{% block content %}
    
    <form method="POST" class='shadow-lg m-10 rounded-lg'>
        {% csrf_token %}
        <div class='form-container px-10 py-10 flex'>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label>Expense Name</label>
                </div>
                <div class='border'>
                    {{ expense_form.name }}
                </div>
            </div>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label>Amount</label>
                </div>
                <div class='border'>
                    {{ expense_form.amount }}
                </div>
            </div>
            <div class='mx-10'>
                <div class='mb-5'>
                    <label>Category</label>
                </div>
                <div class='border'>
                    {{ expense_form.category }}
                </div>
            </div>
            <div class='mx-10 mt-8'>
               <button class='bg-green-500 text-white px-5 py-2 rounded-lg font-bold'>Add</button>
            </div>
        </div>   
        </form>
        <div class='font-bold text-3xl'>Expenses</div>
        <div class='shadow-lg m-10 rounded-lg divide-y'>
            <div class='expense-header flex flex-wrap space-x-40 py-4'>
                <span>Name</span>
                <span>Amount</span>
                <span>Category</span>
                <span>Date</span>
                <span>Edit</span>
                <span>Delete</span>
            </div>
            {% for expense in expenses %}
            <div class='expense-row flex-wrap px-20 py-5'>
                <span class='font-bold'>{{ expense.name }}</span>
                <span class='font-bold'>${{ expense.amount|floatformat:"2g"}}</span>
                <span class='font-bold'>{{ expense.category }}</span>
                <span class='font-bold'>{{ expense.date }}</span>
                <span class='font-bold'><a class='bg-yellow-500 text-white px-4 py-2' href='{% url "edit" expense.id %}'>Edit</a></span>
                <span class='font-bold'><a class='bg-red-500 text-white px-4 py-2' href='{% url "expense_delete" expense.pk %}'>Delete</a></span>
            </div>
            {% endfor %}
        </div>  
        
{% endblock %}
